header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 10px;
  color: yellow;
}
span {
  margin-bottom: 10px;
  color: yellow;
}
input {
  margin-bottom: 5px;
}
h2 {
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}

.todos-container {
  display: flex;
  justify-content: center;
  flex: auto;
}

.board-column {
  margin: 10px;
}
.task-containers {
  border: solid 2px white;
  border-radius: 10px;
  min-height: 400px;
  min-width: 200px;
}

.note {
  display: flex;
  justify-content: space-between;
  margin: 0.5px;
  background-color: yellow;
  border: solid 1px black;
  border-radius: 10px;
  padding: 15px;
}
.note:hover {
  cursor: pointer;
}
.remove-btn {
  border: solid 0.5px black;
  background-color: yellow;
}
